body {
    --bg-color: #FFFFFF;
    --bg-secondary-color:hwb(0 96% 4%);
    --text-color:#070707;
    --text-secondary-color:#828282;
    --seporator-color:#828282;
    --base-font-size:18px;
    --basw-line-height:22px;
    --hover-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2);
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: var(--base-font-size);
    line-height: var(--basw-line-height);
    background-color: var(--bg-color);
    color: var(--text-color);
}

.wrapper {
    width: 100%;
}

.container {
    max-width: 945px;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
}

.mobile-menu {
    display: none;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    padding: 60px 30px;
    background-color: var(--bg-color);
    box-shadow: 0 0 6px 0px #00000044;
}

.mobile-menu.visible{
    display: block;
}

.mobile__row {
    display: flex;
    gap: 150px;
    min-height: 500px;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style-type: none;
    font-size: 34px;
    line-height: 42px;
    padding: 0;
    margin: 0;
}

.mobile-menu-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu-controls > .language-select {
    font-size: 34px;
    line-height: 42px;
}

#close-menu-btn {
	background-color: transparent;
    border: none;
}

#close-menu-btn img {
    width: 43px;
    height: auto;
}

@media (max-width: 420px) {
    .mobile__row {
        min-height: 450px;
        gap: 20px;
    }

    .mobile-nav {
        font-size: 28px;
        line-height: 40px;
        gap: 20px;
    }

    .mobile-menu-controls > .language-select {
        font-size: 28px;
        line-height: 40px;
    }

    #close-menu-btn img {
        width: 35px;
        height: auto;
    }
}

.header__row {
    padding: 20px 0;
	border-bottom: 1px solid var(--seporator-color);
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 20px 0;
    margin: 0;
}

.nav__item {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-secondary-color);
    transition: color 300ms ease;
}

.nav__item_active {
    color: var(--text-color);
}

.nav__item:hover {
    color:  var(--text-color);
}

.introduction__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;
}

.introduction__block h1 {
    font-size: 47px;
    line-height: 59px
}

.introduction__info,
.introduction__language {
    margin-bottom: 40px;
} 

.language-select {
    display: flex;
    writing-mode: vertical-lr;
    transform: rotate(0.5turn);
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}

.language__item a {
    color: var(--text-secondary-color);
    text-decoration: none;
}

.language__item_active a {
    color: var(--text-color);
}

.hero__img_desk {
    width: 100%;
    height: auto;
    aspect-ratio: auto 945 / 388;
    padding-bottom: 104px;
} 

.hero__img_mob {
    display: none;
    width: 100%;
    height: auto;
}

.icon__button {
    display: none;
}

#open-menu-btn {
	display: none;
	position: absolute;
    top: 70px;
    right: 30px;
    background-color: var(--bg-color);
    border: none;
}

#open-menu-btn img {
    width: 43px;
    height: auto;
}

@media (max-width: 700px) {
    header {
        display: none;
    }

    .introduction__language .language-select {
        display: none;
    }

    .introduction__language {
        margin: 0;
    }

    .introduction__block {
        flex-direction: column;
        align-items: start;
		text-align: left;
        padding-top: 30px;
        padding-bottom: 0;
    }

    .hero__img_desk {
        display: none;
    }

    .hero__img_mob {
        display: block;
        padding-bottom: 82px;
    }

    #open-menu-btn {
        display: block;
    }
}

.about {
    background-color: var(--bg-secondary-color);
}

.about-row {
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 107px;
}

.title {
    font-size: 34px;
    line-height: 42px;
    font-weight: bold;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.skills-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 107px;
    gap: 70px;
}

.skills__instrument {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
    gap: 75px;
    flex-wrap: wrap;
}

.instrument__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px 10px 5px;
    transition: all 200ms ease;
}

.instrument__item:hover {
    border-radius: 5%;
    box-shadow: var(--hover-shadow); 
    transform: scale(110%);
}

.instrument__text {
    color: var(--text-secondary-color);
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    text-align: center;
    padding-top: 24px;
}

.instrument__star {
    padding-top: 40px;
}

.portfolio {
    background-color: var(--bg-secondary-color);
}

.portfolio-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 47px;
    padding-top: 90px;
    padding-bottom: 107px;
}

.portfolio__body {
    display: flex;
    flex-direction: column;
    gap: 99px;
}

.portfolio__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.portfolio__img img {
    width: 100%;
    height: auto;
    aspect-ratio: auto 937 / 522;
    transition: all 200ms ease;
}

.portfolio__img img:hover {
    transform: scale(105%);
    box-shadow: var(--hover-shadow);
}

.link {
    text-decoration: underline;
    list-style-type: none;
}

.link a {
    color: var(--text-color);
}

.link a:hover {
    color: var(--text-secondary-color);
}

.contacts-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 85px;
    gap: 30px;
}

.contacts__text {
    text-align: center;
}

.button-msg {
    background-color: var(--text-color);
    border: none;
    border-radius: 25px;
    color: var(--bg-color);
    padding: 18px 35px 18px 35px;
    font-weight: bold;
    transition: all 200ms ease;
}

.button-msg:hover {
    cursor: pointer;
    transform: scale(95%);
}

.button-msg:active {
    background-color: var(--bg-secondary-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
}

@media (max-width: 700px) {
    .button-msg {
        padding: 12px 97px 12px 97px
    }
}

.social-row {
    display: flex;
    justify-content: center;
    gap: 61px;
}

.social__item img {
    width: 100%;
    height: auto;
    aspect-ratio: auto 41 / 41;
    transition: all 200ms ease;
}

.social__item img:hover {
    transform: scale(105%);
}

@media (max-width: 700px) {
    .social-row {
        gap: 43px;
    }
}

.footer-row {
    padding-top: 45px;
    padding-bottom: 123px;
}

.footer__text {
    color: var(--text-secondary-color);
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}